/* Reset (http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;
font-size: 100%; background: transparent; } body {
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content:
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }	

/* Basics */
html {
	height: 100%;
}

body {
	background: #ffffff;
	color: #000000;
	font: normal 1.2em Arial, Helvetica, sans-serif;
}
a {
	color: #ac0707;
	font-weight: bold;
	text-decoration: none;
}

ul {
	margin: 10px 0 25px 0;
}
li {
	margin: 5px 0;
}


h1 { font-size: 60px; font-family: 'Oswald', sans-serif; text-transform: uppercase; line-height: 60px; letter-spacing: -2px; }
h2 { font-size: 36px; font-family: 'Oswald', sans-serif; text-transform: uppercase; line-height: 36px; letter-spacing: -1px; }
h3 { font-size: 24px; font-family: 'Oswald', sans-serif; text-transform: uppercase; line-height: 24px; letter-spacing: 0px; }

h1,h2,h3 { margin: 0; padding: 0px; }

span.red 			{ color: #ac0707; }
span.normal_font	{ font-weight: normal; }

/*
   Floats
------------------------------------------------------------------- */
.left {float: left;}
.right {float: right;}
.clear,.clearer {clear: both;}

.center_wrapper {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}


/* Layout */
#header {
	background: url(../images/Logo-Fist.png) 0 0 no-repeat;
	margin: 30px auto 45px auto;
	padding: 0 0 0 0px;
}

#header h1, #header h3 { margin: 0 0 0 90px; padding: 0; }
#header h1 { margin: 0 0 12px 86px; }

#main {
	padding: 0;
	margin: 0 auto 45px auto;
}
#embed {
	width: 100%;
	margin: 25px auto 45px auto;
}
#embed #uploader { 
	margin-bottom: 45px;
}
#main h3, #embed h3 {
	margin: 15px 0 15px 0;
}
#main select, #embed select {
	margin: 0 0 25px 0;
}
#content { 
	margin: 0 auto 45px auto;
}
#footer {
	height: 100px;
	margin: 25px auto 25px auto;
	padding: 0;
	text-align: right;
}
#footer a { 
	display: block;
}